spring:
    config:
        import: optional:file:.env.properties

    application:
        name: backend

    datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: none
            naming:
                # This avoids the default snake_case to camelCase conversion
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate:
                globally_quoted_identifiers: true

server:
    port: 8080
