spring:
    config:
        import: optional:file:.env.properties

    application:
        name: backend

    datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true

server:
    port: 8080
